<footer class="footer">
    <div class="out-container">
      <div class="innner-container" id="in-cont-1">
        <p class="in-con-item">Home</p>
        <p class="in-con-item">About us</p>
        <p class="in-con-item">Contact us</p>
      </div>
      <div class="innner-container" id="in-cont-2">
        <p>Follow us</p>
        <a href="#" class="in-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#" class="in-icon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#" class="in-icon"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="#" class="in-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#" class="in-icon"><i class="fa fa-google" aria-hidden="true"></i></a>
      </div>
      <div class="innner-container" id="in-cont-3">
        <p class="in-cont-3-item"><span><i class="fa fa-phone" aria-hidden="true"></i></span>+44(0)1252 821792</p>
        <p class="in-cont-3-item"><span><i class="fa fa-envelope"
              aria-hidden="true"></i></span>blogggingdiaries@hotmail.co.in</p>
      </div>
    </div>
    <div>
      <p></p>
    </div>
  </footer>