<%- include("partials/header"); -%>
<!-- Header Section -->
<header class="header">
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Blogging Diaries</span>
      <span class="heading-primary--sub">Read it If you can't hear it</span>
    </h1>
    <a href="/articles" class="btn btn--main">Discover our Articles</a>
  </div>
</header>
<!-- Section for cardss -->
<div class="all">
  
<main class="page-content">
  <div class="cards">
    <div class="contents">
      <h2 class="title">Mountain View</h2>
      <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p>
      <a class="btns" href="/articles" >Read More</a>
    </div>
  </div>
  <div class="cards">
    <div class="contents">
      <h2 class="title">To The Beach</h2>
      <p class="copy">Plan your next beach trip with these fabulous destinations</p>
      <a class="btns" href="/articles" >Read More</a>
    </div>
  </div>
  <div class="cards">
    <div class="contents">
      <h2 class="title">Desert Destinations</h2>
      <p class="copy">It's the desert you've always dreamed of</p>
      <a class="btns" href="/articles" >Read More</a>
    </div>
  </div>
  <div class="cards">
    <div class="contents">
      <h2 class="title">Explore The Galaxy</h2>
      <p class="copy">Seriously, straight up, just blast off into outer space today</p>
      <a class="btns" href="/articles" >Read More</a>
    </div>
  </div>
</main>
</div>
<%- include("partials/footer"); -%>
